.slide{
  padding: 2% 5%;
}

.slide__title{
  font-family: var(--second-font);
  color: var(--color-main);
  font-size: 2rem;
  margin-bottom: 5%;
  /* line-height: 6.7rem; */
}

.slide__subtitle{
  font-family: var(--second-font);
  color: var(--color-main);
  font-size: 1.7rem;
  margin-bottom: 20px;
  text-align: center;

}

.slide__text{

}

.slide1__content{
display: flex;
gap: 5%
}

.slide1__left-col{
  flex: 1 1 50%;
}

.slide1__right-col{
  flex: 1 1 50%;
}


.slide__skills {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 100px;
  list-style: none;
}

.slide__skill {
  position: relative;
  text-align: center;
  background: #fff;
  height: 70px;
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}
.slide__skill p {
  font-size: .8em;
  margin-bottom: 6px;
}
.skill__img{
  position: relative;
  margin: auto;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

