* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 1000px;
  /* max-width: 1680px; */
  margin: auto;
  font-family: var(--main-font), sans-serif;
  color: var(--color-main-text);
  overflow-x: hidden; 
  overflow-y: hidden; 
}

.body_scrolled{
  overflow-y: auto;
}