.header {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 50%;
  height: 100vh;
  width: 100%;
  margin: auto;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
  padding: 0 100px;
  background: #000;
}

.header__background {
  max-width: 1980px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  z-index: 500;
  transition: all 1s;
}

.header__background video {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.header__background_scrolled {
  opacity: 0;
  visibility: hidden;
}


.header_scrolled {
  max-width: 1900px;
  height: 80px;
  background: rgba(0, 0, 0, .7);
}

.header__scroll-marker {
  height: 10%;
  position: fixed;
  padding: 0 0 30px 0;
  bottom: 0;
  left: 50%;
  color: #fff;
  transform: translateX(-50%);
  border: 1px solid red;
  z-index: 501;
  cursor: pointer;
}

.header__scroll-title{
  position: absolute;
  left: -33px;
  top: 0;
  transform: rotate(270deg);
  font-size: 0.5rem;
  width: 100px;
}


.header_scrolled .header__scroll-marker {
  display: none;
}


.header__nav {
  flex: 1 1 auto;
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: flex-end;
  transition: .7s;
}


.header__nav_scrolled {
  opacity: 1;
  visibility: visible;
}

.header__nav_burger-style {
  position: fixed;
  top: 80px;
  left: 0;
}



.header__title {
  padding: 70px 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  z-index: 550;
}

.header__title_scrolled {
  padding: 0;
  border: none;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
  transition: 1s;

}

.header__text {
  font-family: "Playfair Display";
  font-weight: 800;
  font-size: 1.8em;
  color: #fff;
}

.header__text_scrolled {
  display: none;
}

.header__text_color_pink {
  color: #fff;
  font-weight: 800;
}

.header__button-home {
  border: none;
  background: inherit;
  cursor: pointer;
}

.header__burger-menu {
  /* position: absolute;
  top: 50%;
  right: 5%; */
}




@media screen and (max-width: 780px) {
  .header__nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  .header__nav_scrolled {
    opacity: 0;
    visibility: hidden;
  }

  .header_scrolled{
    background: #000;
    height: 70px;
  }

}

@media screen and (max-width: 600px) {
  .header_scrolled{
    background: #000;
    height: 60px;
  }
}



.header__nav_visible{
  opacity: 1;
  visibility: visible;
}


  
 