.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 50%;
  height: 100vh;
  width: 100%;
  max-width: 1680px;
  margin: auto;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
  padding: 0 100px;
  background: url('../../img/header/var2.png') center / cover no-repeat;
  background-color: var(--color-main);
}



.header_scrolled {
  height: 100px;
  background: rgba(0, 0, 0, .7);
}

.header__scroll-marker{
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--color-alternate-text);
}

.header_scrolled .header__scroll-marker{
  display: none;
}


.header__nav {
  flex: 1 1 auto;
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: flex-end;
}

.header__nav_scrolled {
  opacity: 1;
  visibility: visible;
}


.header__title {
  padding: 70px 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.header__title_scrolled {
  padding: 0;
  border: none;
  display: inline-block;
  position: relative;
  top: 50%;
  left: 0;
  transform: translateY(-130%);
  transition: 1s;

}

.header__text {
  font-family: "Playfair Display";
  font-weight: 800;
  font-size: 2.5rem;
}

.header__text_scrolled {
  display: none;
}

.header__text_color_pink {
  color: #fff;
  font-weight: 800;
  /* text-shadow:
      0 0 10px var(--color-glowing-text),
      0 0 20px var(--color-glowing-text),
      0 0 40px var(--color-glowing-text),
      0 0 80px var(--color-glowing-text); */
}

.header__button-home {
  border: none;
  background: inherit;
  cursor: pointer;
}