.promo{
  min-height: 1000px;
  background: url('../../img/background.jpg') center / cover no-repeat fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo:before {
  content: attr(id);
  color: #fff;
  font-size: 8rem;
}