.promo {
  position: relative;
  background: #000;

  /* padding: 50px 0; */
  z-index: 400;
  overflow: hidden;
  /* clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%); */
}


.promo__clippy-container{
  height: 100%;
  background: #f8f8f8;
}

.promo__container{
  position: relative;
  max-width: 1280px;
  padding: 0 30px;
  margin: auto;
}

.promo__content {
  display: flex;
  margin-bottom: 80px;
}

.promo__left-col {
  flex: 1 1 50%;
}

.promo__right-col {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.promo__title {
  margin-bottom: 80px;
  font-family: var(--second-font);
  font-weight: 700;
  color: var(--color-main);
  font-size: 3.5em;
  line-height: 6.7rem;
  text-align: center;
}

.promo__text {
  margin: auto;
  max-width: 80%;
  font-size: 1.2em;
  text-align: center;
  line-height: 2;
}

.promo__intersection-contact {
  padding: 0 0 100px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.promo__bottom-text {
  font-family: var(--second-font);
  color: var(--color-main);
  font-size: 2em;
  line-height: 0.8;
  text-align: center;
}

.promo__masc{
  content: '';
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-main);
  z-index: 400;
  overflow: hidden;
}

.promo__download-button{
  padding: 20px 0;
  width: 170px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  background: var(--color-third);
  text-decoration: none;
  text-align: center;
}




.promo__mask-1, .promo__mask-2, .promo__mask-3{
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #c34943;
  z-index: 401;
}

.promo__mask-1{
  transition: all 1s 1s;
}
.promo__mask-2{
  top: 40px;
  background: #893531;
  z-index: 401;
  transition: all 1s 0.5s;
  
}
.promo__mask-3{
  top: 60px;
  background: #6e1712;
  z-index: 401;
  transition: all 1s;
}

.promo_hide-mask .promo__mask-1, .promo_hide-mask .promo__mask-2, .promo_hide-mask .promo__mask-3{
  top: 100%;
  height: 0;

}
.skewOne{
  position: absolute;
  bottom: -100%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: #000;
  transform: skewY(-15deg);
  transform-origin: top left; 
}
.skewTwo{
  position: absolute;
  bottom: -100%;
  right: 50%;
  width: 100%;
  height: 100%;
  background: #000;
  transform: skewY(15deg);
  transform-origin: top right; 
}