@keyframes animate {
  0% {
    color: transperent;
    box-shadow: none;
  }

  30%,
  70% {
    color: #c6c2c2;
    text-shadow:
      0 0 10px var(--color-glowing-text),
      0 0 20px var(--color-glowing-text),
      0 0 40px var(--color-glowing-text),
      0 0 80px var(--color-glowing-text),
      0 0 100px var(--color-glowing-text),
      0 0 120px var(--color-glowing-text);
  }

  100% {
    color: #808080;
    text-shadow:
      0 0 10px var(--color-glowing-text),
      0 0 20px var(--color-glowing-text),
      0 0 40px var(--color-glowing-text),
      0 0 80px var(--color-glowing-text),
      0 0 100px var(--color-glowing-text),
      0 0 120px var(--color-glowing-text);
  }

}

.glowing-letters {
  margin: 0;
  display: inline-flex;
  font-family: 'Bebas Neue';
  font-size: 5.8rem;
  letter-spacing: .8rem;

}

.glowing-letters__letter {
  color: var(--color-glowing-text);
  animation-delay: calc(.1s * var(--i));
  transition: 1s;
}

.glowing-letters:hover .glowing-letters__letter {
  animation: animate 2s linear infinite alternate-reverse;
  animation-delay: calc(.1s * var(--i));
}

.glowing-letters:hover .glowing-letters__letter_scrolled {
  animation: none;

}

.glowing-letters__letter_scrolled {
  color: var(--color-alternate-text);
  font-size: 1.8rem;
  letter-spacing: .2rem;
  transition: 1s;

}

.glowing-letters__letter:nth-child(1) {
  --i: 1;
}

.glowing-letters__letter:nth-child(2) {
  --i: 2;
}

.glowing-letters__letter:nth-child(3) {
  --i: 3;
}

.glowing-letters__letter:nth-child(4) {
  --i: 4;
}

.glowing-letters__letter:nth-child(5) {
  --i: 5;
}

.glowing-letters__letter:nth-child(6) {
  --i: 6;
}

.glowing-letters__letter:nth-child(7) {
  margin: 0 0 0 20px;
  --i: 7;
}

.glowing-letters__letter:nth-child(8) {
  --i: 8;
}

.glowing-letters__letter:nth-child(9) {
  --i: 9;
}

.glowing-letters__letter:nth-child(10) {
  --i: 10;
}

.glowing-letters__letter:nth-child(11) {
  --i: 11;
}

.glowing-letters__letter:nth-child(12) {
  --i: 12;
}

.glowing-letters__letter:nth-child(13) {
  --i: 13;
}

@media screen and (max-width: 780px) {
  .header_scrolled .glowing-letters__letter_scrolled {
    font-size: 5rem;
  }

  .header_scrolled .glowing-letters__letter:not(:nth-child(1), :nth-child(7)) {
    display: none;
  }
  .header_scrolled .glowing-letters__letter:nth-child(7){
    margin: 0 0 0 5px;
  }

  /* .glowing-letters__letter:nth-child(1){
    display: block;
  } */
}