.contact-me{
  min-height: 1000px;
  background: var(--color-main);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-me:before {
  content: attr(id);
  color: #000;
  font-size: 8rem;
}