.about {
  background: #f8f8f8;
  padding: 100px 0 100px 0;
}

.about__container {
  max-width: 1280px;
  padding: 0 30px;
  margin: auto;
  display: flex;
}

.about__title {
  position: relative;
  display: inline-block;
  font-family: var(--second-font);
  font-weight: 700;
  color: var(--color-main);
  font-size: 4rem;
  line-height: 6.7rem;
  margin: 0 0 50px 0;
  transform: translateX(-100vw);
}

.about__text {
  color: var(--color-second);
  font-size: 1rem;
}

.about__left-col {
  padding: 50px 0 0 0;
  flex: 0 0 50%;
}

.about__right-col {
  padding: 50px 0 100px 0;
  flex: 0 0 50%;
  display: flex;
  align-items: center;
}



.title-about__underline {
  content: '';
  position: absolute;
  background: var(--color-main);
  left: 0;
  bottom: -5%;
  height: 4px;
  width: 100%;
  z-index: 10;
  transform: translateX(200vw);
}

.title-about__underline_scrolled {
  transform: translateX(0);
  transition: 1.5s;
}


.about__title_scrolled {
  transform: translateX(0);
  transition: 1.5s;
}

.about__content {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  gap: 30px 0;
  font-size: 1.2rem;
  line-height: 30px;

}

