.about {
  background: #f8f8f8;
  padding: 100px 0 0 0;
}

.about__container {
  max-width: 70vw;
  margin: auto;
  display: flex;
}

.about__left-col {
  padding: 200px 0 0 0;
  flex: 0 0 50%;
}

.about__right-col {
  padding: 100px 0 100px 0;
  flex: 0 0 50%;
  background: var(--color-main);
  display: flex;
  align-items: center;
  /* clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0% 20%); */
}

.about__title {
  position: relative;
  display: inline-block;
  font-family: "Bebas Neue";
  color: var(--color-main);
  font-size: 7.3rem;
  line-height: 6.7rem;
  margin: 0 0 50px 0;
  transform: translateX(-100vw);
}

.title-about__underline {
  content: '';
  position: absolute;
  background: var(--color-main);
  left: 0;
  bottom: -5%;
  height: 4px;
  width: 100%;
  z-index: 10;
  transform: translateX(200vw);
}

.title-about__underline_scrolled {
  transform: translateX(0);
  transition: 1.5s;
}


.about__title_scrolled {
  transform: translateX(0);
  transition: 1.5s;
}

.about__content {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  gap: 30px 0;
  font-size: 1.2rem;
  line-height: 30px;

}

